@import url(http://fonts.googleapis.com/css?family=Roboto);
body{
    font-size: 12px;
}
body,.main-header .logo,h1,h2,h3,h4,h5,h6,ul.sidebar-menu>li>a{
    font-family:'Roboto', sans-serif !important;
}

.user-panel {
    padding: 10px 0 !important;
}

.m-b-10{
    margin-bottom: 10px;
}

.show_name_user {
    box-shadow: 0 0 10px #9E9E9E;
    padding: 0 !important;
}

.user-panel>.image>img {
    max-width: 110px !important;
    max-height: 110px !important;
}

.user-panel>.info {
    position: initial !important;
    left: 0 !important;
}

.show_name_user p{
  color: #fff;
  padding: 10px;
}

.centrar-titulo-sistema{
    position: relative;
    float: left;
    left: 25%;
}
.centrar-titulo-sistema h3{
    margin-top: 10px;
}
.text-white{
    color: white !important;
}
.spacear-texto{
    letter-spacing: 2px;
}


ul.sidebar-menu>li>a {
    font-size: 12px;
}

/*!
 * Waves v0.7.2
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */

a.waves-effect .waves-ripple {
  z-index: -1;
}

/*******************/
th.seccion1 {
    background-color: #43A047;
    color: #fff;
}
th.seccion2 {
    background-color: #7986CB;
    color: #fff;
}
th.seccion3 {
    background-color: #9C27B0;
    color: #fff;
}
li.active.seccion1 {
    border-top-color: #43A047 !important;
}
li.active.seccion2 {
    border-top-color: #7986CB !important;
}
li.active.seccion3 {
    border-top-color: #9C27B0 !important;
}
/******************/

/*
/////////////////////////Monitoreo ////////////////////////
*/
.header-nombres-th{

}

.growl-animated {
  border: 0;
  color: #fff;
}

.growl-animated.alert-info {
  background: rgba(33, 150, 243, 0.8);
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.growl-animated.alert-success {
  background: rgba(76, 175, 80, 0.8);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.growl-animated.alert-warning {
  background: rgba(255, 152, 0, 0.8);
  box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}

.growl-animated.alert-danger {
  background: rgba(244, 67, 54, 0.8);
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
}

/*#facebox .content .cuerpo span.select2-container {
    z-index: 9999999999 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
*/
.pintar-grilla,
.pintar-grilla>tbody>tr>td{
    border: 1px solid #000 !important;
}
.width100{
    width: 100%;
}
.inline-block{
    display: inline-block;
}

.center-important{
    text-align: center !important;
}

.overlay-blanco{
    background: #fff !important;
}
.resultado-mensaje-exito{
    position: absolute;
    top: 40%;
    left: 10%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 24px;
}

.div-iframe iframe{
    width: 100%;
}

.display-inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}

.border-th-header-left{
    border-left: 1px solid #000 !important;
}

.border-th-header-left-2{
    border-left: 2px solid #000 !important;
}

.border-th-header-right{
    border-right: 1px solid #000 !important;
}

.tfoot-placeholder{

}
.span_a_download {
    pointer-events: none;
    cursor: default;
}

.margin-right-10{
    margin-right: 10px;
}

span.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple{
    height: auto !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px !important;
    color: rgba(255,255,255,0.7)  !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #aaa !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    padding: 1px 10px !important;
    color: #fff !important;
}

.select2-search__field,
.select2-results__option{
    font-size: 12px;
}

.select2-container--open .select2-dropdown{
    z-index: 9999999999 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.select2-selection--single{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*.tfoot-placeholder>th>input::-webkit-input-placeholder{
   font-size: 10px;
}
.tfoot-placeholder>th>input::-moz-placeholder{
   font-size: 10px;
}
.tfoot-placeholder>th>input:-moz-placeholder{
   font-size: 10px;
}
.tfoot-placeholder>th>input::-ms-input-placeholder{
   font-size: 10px;
}*/

input::-webkit-input-placeholder{
   font-size: 10px;
}
input::-moz-placeholder{
   font-size: 10px;
}
input:-moz-placeholder{
   font-size: 10px;
}
input::-ms-input-placeholder{
   font-size: 10px;
}
.placeholder-normal input::-webkit-input-placeholder{
    font-size: 15px;
}
.placeholder-normal input::-moz-placeholder{
    font-size: 15px;
}
.placeholder-normal input:-moz-placeholder{
    font-size: 15px;
}
.placeholder-normal input::-ms-input-placeholder{
    font-size: 15px;
}


.fieldset-legend-title{
    text-align: left;
    font-size: 16px;
}





/*
///////////////////////Fin monitoreo //////////////////////
*/
.right-side > .content-header > .breadcrumb > li + li:before {
    content: "/\00a0" !important;
}
#tablaListado>tbody>tr>td{
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.margin-rigth-5{
    margin-right: 5px;
}

.margin-cinco-derecha{
    margin-right: 5px;
}
.no-box-shadow{
    box-shadow: 0 0 0 !important;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-rigth-10{
    margin-right: 10px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-top-20{
    margin-top: 20px;
}

.padding-top-20{
    padding-top: 20px;
}

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0;
}

.select2-result-label{
    font-size: 12px;
}

.js-errors {
    background: #c0392b;
    color: #FFF;
    font-size: 12px;
    list-style-type: square;
    padding: 1em 2em;
}

.js-errors {
    display:none;
}

.text-version{
    text-align: center;

}
.btn-guardar {
    background-color: #00a65a !important;
    /*border-color: #019875;*/
    color: #fff;
}
.btn-guardar:hover {
    background-color: #16A085;
    /*border-color: #16A085;*/
    color: #fff;
}

.alert {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.displayBlock{
    display: block;
}

.sinpadding{
    padding: 0;
}
.myErrorClass{
    color: #ff0039;
}
.gifLoadingTable{
    display: table;
    margin: 0 auto;
}
.gifMessageTable{
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.displayNone{
    display: none;
}

.verdeResult,
.ambarResult,
.rojoResult{
    color: #fff;
}
.verdeResult{
    background-color: #1BA39C !important;
}
.ambarResult{
    background-color: #FFD54F !important;
}
.rojoResult{
    background-color: #FE6860 !important;
}
.defaultResult{
    background-color: #F2F1EF !important;
    color:#000;
}

/* facebook */
.delayFacebox{
    background: #FFF;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.delayFaceboxIcon{
    left: 47%;
    position: absolute;
    top: 50%;
    text-align: center;
    background: #FFF;
    padding: 10px;
    border: solid 3px #CCC;
    border-radius: 5px;
}
#facebox .content .titulo{
    cursor:move;
    font-size: 14px;
}

#facebox .content .cuerpo {
    overflow: auto !important;
}
#facebox .content{
    background: #000;
    color: #FFF;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.colorBlanco{
    color: #FFF;
}
.xblanco{
    /*opacity: 1;*/
    font-size: 18px;
}
.xblanco{
    opacity: .8;
}
/* Fin facebook */


.headTablaListado tr th{
    vertical-align: middle !important;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footTablaListado {
    display: table-header-group;
}
.footTablaListado tr th input{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 100%;
}
.bodyTablaListado{
    font-size: 13px;
}
.noBox{
    border-top: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.cursor-pointer{
    cursor: pointer;
}

.header-primary{
    background: #3c8dbc !important;
}

.table_cobertura_responsive thead tr th{
    background: #3c8dbc;
    color: #ecf0f1;
    vertical-align: middle;
}
.table_cobertura_responsive thead tr th,
.table_cobertura_responsive tbody tr td{
    text-align: center;
    vertical-align: middle;
}

.hiddenRow {
    padding: 0 0.5em !important;
}

.callout.callout-success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.callout.callout-success h4 {
    color: #3c763d;
}

.no-border-radius{
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;

}

.modal-header{
    background-color: #3c8dbc;
    color: #fff;
}
.modal-content{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.accordion-toggle .rowDown:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right !important;
    color: grey;
}
.accordion-toggle .rowDown .collapsed:before {
    content: "\f078";
}

/* sidebar translate */
/*.treeview-menu li.active a{
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
.treeview-menu li a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.treeview-menu li a:hover, .treeview-menu li a:focus, .treeview-menu li a:active {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}*/
/* Fin sidebar translate */

.select2-drop{
    z-index: 999999999 !important;
}
/* estilo para el selec2js*/
.select2-container .select2-choice,
.select2-container .select2-choice .select2-arrow{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.editable {
    background-color: #ecf0f1; /** #95a5a6; **/
}


@media screen and (min-width: 970px){
    #facebox .content .cuerpo {
        width: 1200px;
    }
    .page-login .login-box {
        width: 30%;
    }

}
@media screen and (max-width: 970px){
    .centrar-titulo-sistema{
        left: 5%;
    }

}
@media screen and (max-width: 768px){
    .centrar-titulo-sistema{
        left: 3%;
    }
}
@media screen and (max-width: 640px){
    #facebox{
        width: 98% !important;
        margin: 0 auto !important;
    }
    #facebox .popup{
        width: 98% !important;
        margin: 0 auto !important;
    }
    #facebox .content{
        width: 100% !important;
    }
    #facebox .content .cuerpo{
        width: 100% !important;
    }
    .centrar-titulo-sistema{
        left: 40%;
    }
    .centrar-titulo-sistema h3{
        /*font-size: 15px;*/
    }
}
@media screen and (max-width: 480px){
    .centrar-titulo-sistema{
        left: 35%;
    }
    .centrar-titulo-sistema h3{
        /*font-size: 7px;*/
        margin-top: 20px;
    }
}


.filtro_map {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    top: 5px;
    left: 5px;
    margin: 0 !important;
    padding: 7px 12px !important;
    position: absolute;
}


.tt {
display: block !important;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 300px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
  /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
  background-clip: padding-box;
}

.tt-suggestion{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion:hover,
.tt-suggestion:focus {
  color: black;
  text-decoration: none;
  outline: 0;
  background-color: #2E9AFE;
}
.tt-suggestion .tt-cursor {
  color: #ffffff;
  background-color: #2E9AFE;
}
.tt {
  width: 400px;
}
.input-group .tt {
  display: block !important;
}
.input-group .tt  {
  top: 32px !important;
}
.input-group.input-group-lg .tt  {
  top: 44px !important;
}
.input-group.input-group-sm .tt {
  top: 28px !important;
}
